
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Roboto', sans-serif;
    background:linear-gradient(to right,#82d8f1, #a2eeea);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card{
    width: 600px;
    height: 450px;
    background-color: #fff;box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border-right: 30px solid #4286f5;

}