body{
    background-image: bg img1.jpg;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
.login.screen{
    height:100%;
    padding:0 10% o 10%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.login.left{
    width: 100%;
    padding: 20%;
    font-size: 102rem;
}
.l.content{
    width:100%;
}
.login.right{
    width: 50%;
    margin-top: 30px;
    background-color:rgba(255,255,255, 0.5);
    padding-left: 52px;
    padding-top: 20px;
    border-radius: 5px;
}
.login.right input{
    width: 88%;
    height: 20px;
    outline: 3px;
}