@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing:border-box;
font-family: 'Montserrat', sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(images/abstractbg.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}
.side-nav{
    width: 110px;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 25px 10px;
    background: rgba(21, 50, 182, 0.57);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5px;

}
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.user div{
    display: none;

}
.user h2{
    font-size: 15px;
    font-weight: 600px;
    white-space: nowrap;
}
.user-img{
    width: 40px;
    border-radius: 50%;
    margin: auto;
}
.star-img{
    width: 20px;
    display: none;

}
ul{
    list-style: none;
    padding: 0 15px;
}
ul li{
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
ul li img{
    width: 30px;
    margin-left: 0px;

}
ul li p{
    white-space: nowrap;
    display: none;
}
.side-nav:hover{
     width: 250px;

}

.side-nav:hover .user{
    width: 100%;
    background: rgba(34, 194, 206, 0.6);
    backdrop-filter: blur(20px);
}
.side-nav:hover .user div{
    display: block;
}
.side-nav:hover .star-img{
     display: block;
}
.side-nav:hover .user-img{
    margin: 0;
} 
.side-nav:hover ul li p{
    display: block;
}
.side-nav:hover ul li img{
    margin-right: 10px;
}
.side-nav:hover ul li{
    justify-content: flex-start;
}