.carrom-frame{
    border: 5px solid brown;
    height: 600px; width: 600px;
    border-radius: 15px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);


}
/*------pockts style------*/
.pockets{
    height: 60px;
    width: 60px;
    background: black;
    position: absolute;
    border-radius: 50%;

}
.p1{
    top: 0;
    left: 0;

}
.p2{
    top: 0;
    right: 0;

}.p3{
    bottom: 0;
    right: 0;

}.p4{
    bottom: 0;
    left: 0;

}
/*--End of pockets--*/

/*---base start--*/
.base{
    border: 4px solid black;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 10%;
}
.top-base{
    height: 6.5%;
    width: 65%;
    top: 14%;
    left: 50%;
}
.right-base{
    height: 65%;
    width: 6.5%;
    top:50% ;
    right: 5%;
}
.bottom-base{
    height: 6.5%;
    width: 65%;
    bottom: 5% ;
    left: 50%;
}
.left-base{
    height: 65%;
    width: 6.5%;
    top: 50% ;
    left: 12%;
}
/*---base end--*/

/*---Circle start--*/
.red-circle{
    height: 35px;
    width: 35px;
    background: red;
    position: absolute;
    border-radius: 50%;
    margin: 6px 6px;

}
.c1{
    top: 0%;
    left: 0%;
}
.c2{
    top: 0%;
    right: 0%;
}
.c3{
    top: 0%;
    right: 0%;
}
.c4{
    bottom: 0%;
    right: 0%;
}
.c5{
    bottom: 0%;
    right: 0%;
}
.c6{
    bottom: 0%;
    left: 0%;
}
.c7{
    bottom: 0%;
    left: 0%;
}
.c8{
    top: 0%;
    left: 0%;
}
/*---Circle end--*/

/*---line start--*/
.outline{
    height: 30px;
    width: 30px;
    border: 8px solid black;
    position: absolute;
    border-radius: 50%;
}
.outline-1{
    top: -2px;
    left: -2%;
}
.outline-2{
    top: -2px;
    right: -2%;
}
.outline-3{
    top: -2px;
    right: -2%;
}
.outline-4{
    bottom: -2px;
    right: -2%;
}
.outline-5{
    bottom: -2px;
    right: -2%;
}
.outline-6{
    bottom: -2px;
    left: -2%;
}
.outline-7{
    bottom: -2px;
    left: -2%;
}
.outline-8{
    top: -2px;
    right: -2%;
}
/*---line start--*/
