@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' 'sans-serif';
    box-sizing: border-box;
}

:root{
--wrong:rgba(250, 151, 114, 0.376);
--corect:rgba(111, 238, 111, 0.376);
--wrong-text: rgb(255, 49, 34);
--correct-text: rgb(4, 105, 4);

}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
h3{
    font-size: 30px;
    text-transform: uppercase;
}
.form-checkbox{
    display: block;
}
.input-checkbox input[type="checkbox"]{
appearance: none;
-webkit-appearance: none;
height:30px ;
width: 30px;
border: 2px solid #342168;
border-radius: 3px;
}
.input-checkbox label{
    font-size: 20px;
    margin-left: 12px;
    font-weight: 600;
}
.input-checkbox {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.input-checkbox input[type="checkbox"]:checked::before{
content: ' ';
font-weight: 700;
font-size: 26px;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.correct-checkbox input[type="checkbox"]:checked{ 
    background-color: var(--corect);
    border: 2px solid var(--corect);
}
.wrong-checkbox input[type="checkbox"]:checked{ 
    background-color: var(--wrong);
    border: 2px solid var(--wrong);
}
.correct-checkbox input[type="checkbox"]:checked::before{ 
    content: '\2713';
    color: var(--correct-text);
}
.wrong-checkbox input[type="checkbox"]:checked::before{ 
    content: '\2715';
    color: var(--wrong-text);
}
.correct-checkbox input[type="checkbox"]:checked+label{
    color: var(--correct-text);
}
.wrong-checkbox input[type="checkbox"]:checked+label{
color: var(--wrong-text);
}