@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');


/*  #161616  #b71540  #16a085*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    display: block;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: top;
    margin: 0;
    background-color: #fff;
}
nav{
    background-color: #a4b0be;
    border-radius: 3px;
    width:100%;
   
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 1px 0px;
}
nav ul li{
    list-style: none;
    display:inline-block ;
    padding: 15px 35px;
    font-size: 16px;
    cursor: pointer;
    
    position: relative;
    z-index: 2;
}
ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
ul li::after{

    content:'';
    height: 100%;
    width:100% ;
    background-color: #4646db;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
    border-radius: 5px;

}
nav ul li:hover::after{
    opacity: 1;
    top:50%;
   
   
}
nav ul li:hover a{
    color: white;
    text-decoration: underline;
}