@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;  
}
::selection{
    background-color: #e74c3c;
    color: white;
}

body{
    width: 100vw;
   height: 100vh;
   font-family: 'Poppins', 'sans-serif';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
h3{
    font-size: 25px;
    font-weight: normal;
}
p{
    padding: 10px;
}
.select::selection{
    background-color: #2c3e50;
    color: white;
}
h1{
    user-select: none;
}